# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env

# VSCode
.vscode/

# Logs
logs/
*.log

# Windows
AppData/
Desktop.ini
Thumbs.db

# Docker
docker/
node_modules/
.env
*.log
dist/
build/
*.zip